* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  background-position-y: 100%;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

header {
  width: 100%;
  background-color: #ab9e13;
  filter: drop-shadow(0 0 10px) opacity(0.9);
  font-size: 16px;
}

.header-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  max-width: 1200px;
  color: #9d1818;
  gap: 100px;
  font-size: 24px;
}

.header-container > * {
  cursor: pointer;
}

.header-container > *:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px #f55531);
}

header img {
  z-index: 10;
  width: 120px;
  filter: drop-shadow(0 0 6px #fff704);
}

h2 {
  text-align: left;
  padding: 2%;
  font-size: 40px;
  color: #f55531;
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3px !important;
}

.movies {
  display: grid;
  grid-template-columns: 1fr repeat(3, 1fr);
}

.series {
  text-align: center;
  width: auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
  column-gap: 100px;
  row-gap: 70px;
}

.movie-container {
  display: flex;
  justify-content: space-around;
}

.item {
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.closeBtn {
  font-size: xx-large;
  margin: 1%;
  padding: 0.5%;
}

.mod {
  position: fixed;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0 0 15px #e2cfd2;
  color: #e2cfd2;
  height: 90vh;
  top: 5vh;
  bottom: 5vh;
  left: 10vw;
  right: 10vw;
  min-width: 750px;
  background: #562e11;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: auto;
  display: none;
}

.mod img {
  display: flex;
  height: 80vh;
  width: auto;
  flex-shrink: 0;
  margin: 5vh 20px;
  border-radius: 20px;
}

.hidden {
  display: none;
}

.active {
  display: flex;
}

.activate-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
  z-index: 25;
}

.img-info-container {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.data {
  display: flex;
  justify-content: center;
  gap: 7%;
}

.comment-list {
  text-align: center;
}

.add-comment {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.username,
.comment {
  height: 50px;
  margin-top: 5%;
  font-size: 20px;
  outline: none;
}

.submitBtn {
  align-self: flex-end;
  margin-top: 5%;
  width: 30%;
}
